<nav class="navbar">
  <a class="navbar-logo">Student Registration</a>
  <button class="navbar-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="navbar-menu">
    <a href="/" class="navbar-item">Home</a>
    <a href="/secret" class="navbar-item">Secret</a>
    <a href="/register" class="navbar-item">Registration</a>
    <a href="/login" class="navbar-item">Login</a>
    
  </div>
</nav>
